.contact {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    &__head {
        font-family: Rubik;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
    &__input {
        width: 100%;
        padding: 10px;
        background-color: #F1F1F1;
    }
    &__file {
        font-family: Rubik;
        font-size: 25px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }
    &__send {
        font-family: Rubik;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 10px;
        background-color: #295093;
        color:#fff;
        width: 150px;
        height: 50px;
        border: 0px;
    }

    &__box {
        width: 550px;
        height: 330px;
        margin-top: 40px;
        border-radius: 5px;
        margin-left: auto;
        padding: 20px;
        border: 3px solid #f1f1f1;
        box-shadow: 20px 20px 5px lightgray;
        
    }
    &__box--items {
        display: flex;
    }
    &__box--head {
        text-transform: uppercase;
        font-family: Rubik;
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: right;
        color: #295091;
    }
    &__box--left {
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }
    &__link {
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }
    &__box--right {
        margin-left: auto;
    }
    &__social {
        margin-left: 95px;
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    &__button {
        padding: 10px;
        margin-left: 95px;
        background-color: #295091;
        color: #fff;
        border-radius: 5px;
    }
    &__download {
        margin-top: 5px;
        border: 0px;
        border-radius: 5px;
    }
}